---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Nav from "../../components/Nav.astro";
import Footer from "../../components/Footer.astro";
import PageContent from "../../components/PageContent.astro";
import DonationModal from "../../components/DonationModal.astro";
import SponsorFormCard from "../../components/SponsorFormCard.astro";
import type { Lang } from "../../i18n";

const lang: Lang = "es";

export async function getStaticPaths() {
  const pages = await getCollection("pages-es");
  return pages.map((page) => ({
    params: { slug: page.data.slug },
    props: { page },
  }));
}

const { page } = Astro.props;
const isYuraBoom = page.data.slug === "yura-boom";
---

<Layout title={`${page.data.title} - Quina Care`} lang={lang}>
  <Nav />
  <div data-pagefind-body>
    <PageContent page={page} />
  </div>
  {
    isYuraBoom && (
      <DonationModal id="sponsor-modal">
        <SponsorFormCard lang={lang} />
      </DonationModal>
    )
  }
  <Footer lang={lang} />
</Layout>
